In [12]:
import pandas as pd
import numpy as np

In [3]:
#tworzenie serii
dataseries = pd.Series([10,10,2,5,72,4],index=['a','b','c','h','r','k'])
dataseries

In [4]:
data_dict = {
    'imię':['Jan','Anna','Tomasz','Maria'],
    'wiek':[45,18,74,32],
    'miasto':['Kraków','Lublin','Radom','Warszawa']
}

In [11]:
data_frame = pd.DataFrame(data_dict, index=['A','B','C','D'])

In [10]:
data_frame

,imię,wiek,miasto
A,Jan,45,Kraków
B,Anna,18,Lublin
C,Tomasz,74,Radom
D,Maria,32,Warszawa

In [13]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
df = pd.read_csv('dane/ex1.csv')

In [15]:
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [16]:
df.to_numpy()

In [17]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [20]:
names = ['A','B','C','D','informacja']
df2 = pd.read_csv('dane/ex2.csv',names=names, index_col='informacja')
df2

,A,B,C,D
informacja,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [21]:
!cat dane/ex4.csv

# Cześć!
a,b,c,d,message
# Chciałem tylko trochę utrudnić Twoją pracę.
# Kto w ogóle wczytuje pliki CSV za pomocą komputera?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [24]:
data_frame = pd.read_csv('dane/ex4.csv', skiprows=[0,2,3])
data_frame

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [26]:
danew = pd.read_csv('dane/ex5.csv',index_col=['message'])
danew

,something,a,b,c,d
message,,,,,
NaN,one,1,2,3.0,4
world,two,5,6,NaN,8
foo,three,9,10,11.0,12

In [30]:
danew.to_csv('dane/spec1010.csv')

In [31]:
danew.to_html('dane/sp1010.html')

In [32]:
danew.to_dict('dane/mojdict')

<ipython-input-32-fdd34b0dc35b>:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  danew.to_dict('dane/mojdict')

{'something': {nan: 'one', 'world': 'two', 'foo': 'three'},
 'a': {nan: 1, 'world': 5, 'foo': 9},
 'b': {nan: 2, 'world': 6, 'foo': 10},
 'c': {nan: 3.0, 'world': nan, 'foo': 11.0},
 'd': {nan: 4, 'world': 8, 'foo': 12}}

In [33]:
danew.to_excel('dane/myex.xlsx')

ModuleNotFoundError: ModuleNotFoundError: No module named 'openpyxl'